@import "chapbook.scss";
@import "toc.scss";
@import "webtoon.scss";
@media screen {
/*Steam*/
    #steam {
    $accent: #473523;
    $bg-color: #190D00;
    $box-color: #f5deb3;
    $borders: #8C643F;
    $out-text: #ffd;
    $in-text: #111;
    /* Default (small) screens */
        body {
            background-color: $bg-color;
            background-image: url("gears.png");
            color: $out-text;
            text-align: center;
            font-size: 1.5em;
            font-family: serif;
            margin: 0;
            box-sizing: border-box;
        }
        main, figure {
            margin-left: 0em;
            padding-left: 0em;
        }
        figure#comic, section.page, main > div, main > section, ol.tagslist {
            background-color: $box-color;
            color: $in-text;
            border-top: double thick $borders;
            border-bottom: double thick $borders;
        }
        h1 {
            margin: 1em 0em 0em 0em;
        }
        figure {
            text-align: center;
            margin: 0em;
        }
        figure#comic, section.page {
            padding: 1em 0em 0em 0em;
            background: $box-color url("frame.gif") no-repeat 100% 0%;
            & img {
                margin: 0em;
            }
        }
        figcaption {
            text-align: center;
            padding: 0.5em
        }
        .cominavbox {
            background: $bg-color;
            border: double medium $borders;
            border-bottom: none;
            padding: 0.5em;
            margin: 0em;
        }
        #botbox {
            border: double thick $borders;
            border-top: none
        }
        .cominavbox, .cominavbox li {
            display: inline-block;
        }
        p + p, li + li {
            margin-top: 0.5em
        }
        #skippy {
            text-align: left;
            margin: 0.5em
        }
        header a:active, header a:focus {
            color: $box-color;
        }
        #topnav {
            margin-bottom: 0em;
            li {
                display: inline-block;
                padding: 0.5em;
                background: $bg-color;
                color: $out-text;
                border: double medium $borders
            };
            li + li {
                margin-left: 1em;
            };
            a:link {
                color: #7c7cff;
                padding: 0.5em
            };
            a:visited {
                color: #b97cff;
            };
        }
        header {
            margin-top: 0em;
            padding-top: 0em;
            & img {
                margin-top: 0em;
                padding-top: 0em;
                display: inline
            }
        }
        main {
            & > div, & > section, & > .tagslist {
                text-align: left;
                padding: 0.5em 0em 0.5em 0.2em;
            }
            & > div + div, & > section + section {
                margin-top: 1em
            }
        }
        .statline {
            font-weight: bold;
        }
        a:link {
            color: #0000c1;
            text-decoration: underline
        }
        a:visited {
            color: #46284c;
        }
        a:hover, a:focus, a:active {
            color: #533600;
        }
        a:focus, a:active {
            outline-width: medium;
            outline-style: solid;
            outline-color: currentColor
        }
        footer, .cominavbox, #skippy, #toc {
            color: #ffd;
            & a:link {
                color: #bbf;
                text-decoration: underline
            };
            & a:visited {
                color: #daf;
            };
            & a:hover, & a:focus, & a:active {
                color: #ff9119;
            };
            & p {
                margin-left: 0em;
                text-align: left;
            }
        }
        main > section {
            vertical-align: top;
            text-align: left;
            background-color: $box-color;
            color: $in-text;
            & h2 {
                border: none;
                margin-top: 0.5em;
            };
            & ol {
                margin-top: 0em
            }
        }
        section.page h2 {
            margin: 0.5em 1em;
        }
        img, embed, object, video {
            max-width: 100%;
            height: auto;
        }
        .action {
            font-weight: bold;
        }
        .char {
            text-align: left;
            dt {
                font-weight: bold;
                font-style: italic;
            }
            & + .char {
                margin-top: 1em
            }
        }
        .chartraits {
            overflow-wrap: break-word;
            padding: 0em 1em;
        }
        .chartext {
            background: none
        }
        .status {
            font-weight: bold;
        }
        ul.tagslist {
            list-style-type: none;
            margin-top: 1em;
        }
        ol.tagslist, .chapterarch {
            text-align: left;
            list-style: decimal inside none;
        }
        .archives .status {
            margin: 0em;
        }
        @include toc;
        #toc {
            background: #190D00;
            color: #ffd;
            border: double medium $borders;
            margin: 1em 0em;
            a {
                text-shadow: none
            }
            li {
                background: none;
                box-shadow: none;
            }
            li + li {
                margin-left: 0em
            }
            .status {
                color: #ffd;
            }
        }
        ol {
            line-height: 2em
        }
        .page section {
            padding: 1em
        }
    /*Medium screens*/
        @media screen and (min-width: 1024px) {
            figure {
                margin: 0em;
            }
            figure#comic, section.page {
                padding: 1em 1em 0em 1em;
                margin: 0em 1em;
                border: double thick $borders;
                vertical-align: middle;
            }
            #botbox {
                margin-top: 0em;
            }
            main {
                & > div, & > section, & > .tagslist {
                    padding: 0em 0em 0.5em 0em;
                    margin: 1em 0em 1em 10%;
                    max-width: 70%;
                    border: double thick $borders;
                    & p {
                        margin-left: 1em
                    }
                    & h2 {
                        margin-top: 0em;
                    }
                }
            }
            div + div, section + section {
                margin-bottom: 0em;
                margin-top: 0em;
            }
            section.page {
                max-width: 100%;
                margin: 0em 1em;
                padding: 0em;
                h2 {
                    margin: 0em;
                    margin-bottom: 1em;
                }
                & + section.page {
                    margin-top: 1em;
                }
            }
            .cominavbox, .cominavbox li {
                margin: 0.5em 1em 0em 1em;
            }
            h1 {
                font-size: 1.5em;
                border-bottom: none;
                border-top: none;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
            h2 {
                font-size: 1.2em;
                margin: 0em;
                padding: 0.5em 0em 0.5em 0.5em;
                border-left: none;
                border-right: none;
            }
            h3 {
                font-size: 1em;
                margin-left: 0.5em;
            }
            #topnav {
                text-align: center;
                background-image: linear-gradient(to bottom, #53452B 0%, #987F46 25%,#B99C56 37%, #FDF0E8 50%, #B99C56 62%, #987F46 75%, #53452B 100%);
                ul {
                    margin: 0em;
                    padding-left: 0em;
                };
                a:hover, a:active, a:focus {
                    text-shadow: 0.1em 0.1em 0.1em #fdf0e8,
                                 -0.1em -0.1em 0.1em #fdf0e8,
                                 0.1em -0.1em 0.1em #fdf0e8,
                                 -0.1em 0.1em 0.1em #fdf0e8,
                                 0.1em 0.1em 0.1em #fdf0e8,
                                 -0.1em -0.1em 0.1em #fdf0e8,
                                 0.1em -0.1em 0.1em #fdf0e8,
                                 -0.1em 0.1em 0.1em #fdf0e8,
                                 0.1em 0.1em 1em $accent,
                                 -0.1em -0.1em 1em $accent,
                                 0.1em -0.1em 1em $accent,
                                 -0.1em 0.1em 1em $accent,
                                 0.1em 0.1em 1em $accent,
                                 -0.1em -0.1em 1em $accent,
                                 0.1em -0.1em 1em $accent,
                                 -0.1em 0.1em 1em $accent;
                    outline-color: $bg-color;
                    outline-width: thick
                }
            }
            #topnav li {
                padding: 1em 1em 0.8em 1em;
                margin: 0em;
                border: none;
                & + li {
                    margin-left: 0em;
                    border: none;
                };
                a:link {
                    color: #0000c1;
                    text-decoration: underline
                }
                a:visited {
                    color: #46284c;
                }
                a:hover, a:focus, a:active {
                    color: #700404;
                }
            }
            h2, #topnav li {
                background: #A88D4D;
                background: linear-gradient(to bottom, #53452b 0%,#987f46 10%,#b99c56 25%,#fdf0e8 50%,#b99c56 75%,#987f46 90%,#53452b 100%);
                color: $in-text;
                text-shadow: 0.1em 0.1em 0.1em #fdf0e8,
                             -0.1em -0.1em 0.1em #fdf0e8,
                             0.1em -0.1em 0.1em #fdf0e8,
                             -0.1em 0.1em 0.1em #fdf0e8;
                box-shadow: 0em 0.1em 0.1em 0em $in-text;
                font-weight: normal
            }
            .archives .status {
                padding: 1em;
            }
            .statline {
                font-size: 0.8em;
                text-align: right;
                margin-right: 1em
            }
            footer p {
                font-size: 0.7em;
                margin-left: 1em
            }
            ol.tagslist {
                padding: 1em;
            }
            .action {
                text-indent: 1em;
            }
            .intro {
                padding: 0em;
                margin: 0em;
                p {
                    padding: 0em 0.5em 1em 1em;
                }
                img {
                    padding-top: 1em;
                }
                .author {
                    font-weight: bold;
                }
                .desc {
                    font-weight: bold;
                }
            }
            .char {
                padding: 0em;
                margin: 1em;
            }
            .charimg {
                margin: 1em;
                border: double medium $borders;
            }
            .chartraits {
                font-size: 0.9em;
                margin: 0em;
                text-align: left
            }
            .chartext {
                margin-top: 0.5em;
                padding: 0em 0.5em 0.5em 0.5em;
                border-top: double medium $borders;
                text-indent: 1em;
            }
            #toc {
                max-width: 70%;
                padding: 0em 0em 0.5em 0em;
                margin: 1em 0em 1em 10%;
                li {
                    color: #ffd
                }
            }
        }
        @include chapbook;
        @include webtoon;
    }
}
